.photo-grid {
  max-width: 1184px;
  margin: 118px auto 0;
  font-size: 0;
}

.photo-grid__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  list-style: none;
  padding: 0;
}

.photo-grid__item {
  list-style: none;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    margin: 90px auto 88px;
    padding: 0 24px;
  }

  .photo-grid__image {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 0 16px;
    margin-bottom: 62px;
  }
}
