.photo-grid {
  max-width: 1184px;
  margin: 118px auto 0;
  font-size: 0;
}

.photo-grid__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  list-style: none;
  padding: 0;
}

.photo-grid__item {
  list-style: none;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    margin: 90px auto 88px;
    padding: 0 24px;
    max-width: 720px;
  }

  .photo-grid__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .photo-grid__image {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 0 16px;
    margin-bottom: 62px;
  }
  .photo-grid__items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}
