.top {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top__title {
  margin: 0 auto;
  max-width: 743px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #fff;
}

.top__subtitle {
  max-width: 703px;
  margin: 52px auto 70px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.top__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1280px) {
  .top__title {
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto 32px;
  }

  .top__subtitle {
    max-width: 720px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto 36px;
  }

  .top__image {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .top__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px;
  }

  .top__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 40px 0;
  }

  .top__image {
    margin-bottom: 64px;
  }
}
