.top__title {
  margin: 0 auto;
  max-width: 743px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #fff;
}

.top__subtitle {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.top__image {
  margin: 64px 0 92px 0;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .top__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
  }

  .top__subtitle {
    font-size: 30px;
    line-height: 36px;
  }
}

@media screen and (max-width: 768px) {
  .top__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }

  .top__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
